<mat-drawer-container class="example-container" autosize>
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">Menu</button>
  </div>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-list role="list">
      <mat-list-item (click)="abrirTabela()">
        <span class="mat-menu-span">Cadastro Aluno</span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <button mat-raised-button color="primary" routerLink="/tabela">
        Ir para a Tabela
      </button>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Item 2</mat-list-item>
    </mat-list>
    @if (showFiller) {
    <p>Voce é especial S2</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Clique aqui
    </button>
  </mat-drawer>
</mat-drawer-container>
